.MuiIconButton-root {
    flex: 0 0 auto;
    /* color: rgba(0, 0, 0, 0.54); */
    padding: 12px;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}
.header-and-menu-button-holder{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tool-bar-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-side-toolbar-items{
    display: flex;
    flex-direction: row;
    align-items: center;
}